<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0"
  >
  <link
    rel="shortcut icon"
    href="data:image/x-icon;,"
    type="image/x-icon"
  >
  <title><%- title %></title>
  <link rel="stylesheet" href="/public/stylesheets/style.css">
</head>
<body>
  <main><%- body %></main>
  <% if(user) { %>
  <hr>
  <%- include('../user_nav') %>
  <% } %>
</body>
</html>
