<style>
  img {
    width: 72px;
  }
</style>
<a href="/">Home</a>
<br/>
<br/>
<br/>
<% for (let i = 0; i < cards.length; i++) { %>
  <% const card = cards[i]; %>
  <a 
   style="display: inline-block;text-align: center;"
   target="_blank"
   href="https://fifarenderz.com/20/player/<%= card.id %>"
  >
    <img src="<%= card.img %>"/>
    <br/>
    <%= card.id %>
  </a>
<% } %>
