<script src="/public/js/jquery-3.5.1.min.js"></script>
<a href="/">Home</a>
| <a href="/market/graph">Graph</a>
<hr/>

<div>
  <input type="text" name="search"/>
  <button id="buttonSearch">Search</button>
</div>
<div class="cards"></div>

<style>
.card {
  position: relative;
  width: 96px;
  height: 96px;
  color: white;
  margin: 2px;
  border: 1px solid black;
  background: #aaa;
}
.card * {
  position: absolute;
}
.card .bg, .card .player {
  width: 100%;
}
.card .logo {
  width: 15%;
  top: 38%;
  left: 23%;
}
.card .nation {
  width: 10%;
  top: 55%;
  left: 25%;
}
.card .ovr {
  top: 10%;
  left: 25%;
  font-size: 12px;
  font-weight: bold;
}
.card .pos {
  top: 25%;
  left: 25%;
  font-size: 7px;
  font-weight: bold;
}
.card .name {
  display: block;
  width: 100%;
  text-align: center;
  bottom: 21%;
  font-size: 9px;
  font-weight: bold;
}
</style>

<div
  id="cardTemplate"
  class="card"
  style="display: none"
  data-id="0"
>
  <img class="bg"/>
  <img class="player"/>
  <img class="logo"/>
  <img class="nation"/>
  <span class="ovr"></span>
  <span class="pos"></span>
  <span class="name"></span>
</div>

<script>
$(() => {
  buttonSearch.onclick = () => {
    var search = $('input[name=search]').val();
    $.post("/cards/search", {search: search}, (data) => {
      $(".cards").empty();
      for (var i = 0; i < data.length; i++) {
        var item = data[i];
        console.log(item);
        var tpl = $("#cardTemplate").clone().removeAttr("id");
        tpl.css('display', 'inline-block');
        console.log(tpl);
        tpl.find(".bg").attr("src", item.background);
        tpl.find(".player").attr("src", item.image);
        tpl.find(".logo").attr("src", item.clubLogo);
        tpl.find(".nation").attr("src", item.nationFlag);
        tpl.find(".ovr").text(item.rating);
        tpl.find(".pos").text(item.position);
        tpl.find(".name").text(item.cardName.toUpperCase());
        $(".cards").append(tpl);
      }
    });
  };
});
</script>


