<form
  id="form"
  style="display: none"
  method="post"
  action="/login/discord"
>
  <input type="text" name="username" value="<%- token %>">
  <input type="text" name="password" value="cool">
</form>

<script>
form.submit();
</script>

